<div class="container">
    <section class="loginBox row-fluid">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a>注册</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="input-group">
                        <span class="input-group-addon" id="user-name">用户名</span>
                        <input type="text" class="form-control" placeholder="用户名">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="user-pwd">密码</span>
                        <input type="password" class="form-control" placeholder="密码">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="confirm-pwd">确认密码</span>
                        <input type="password" class="form-control" placeholder="确认密码">
                    </div>
                    <div class="span1">
                        <input type="button" value="注册" class="btn btn-primary">
                    </div>
                    <div>
                        有账号，马上<a [routerLink]="['/account/login']">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>